<%= render partial: "shared/flash_messages", flash: flash %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">User Progress</li>
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Donate</a></li>
          <li class="nav-header">Smartsettle One</li>
          <li><a href="#">Read Introduction</a></li>
          <li><a href="#">Watch Training Video</a></li>
          <li><a href="#">Review Scenario</a></li>
          <li><a href="#">Practice Negotiation</a></li>
          <li><a href="#">Real-Life Negotiation</a></li>
          <li class="nav-header">Smartsettle Infinity</li>
          <li><a href="#">Introduction</a></li>
          <li><a href="#">Read Directions</a></li>
          <li><a href="#">Download Infinity</a></li>
          <li><a href="#">Tutorials</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span6">
      <h3>Dashboard</h3>
      
      <p>This site is designed to give you a hands-on experience with Smartsettle.</p>
      
      <p>To start, we suggest you go through the Smartsettle One course and then once
        you successfully complete that, continue on with Smartsettle Infinity.</p>
    </div>
    <div class="span3 well">
      <h4>Your Profile</h4>
      
      <p>Name: <%= current_user.name %></p>
      <p>Email: <%= current_user.email %></p>
  </div>
</div>