%ul{class: 'breadcrumb'}
  %li
    = link_to "Home", root_path
    <span class="divider">/</span>
  %li{class: 'active'}
    Top Standings

%h1 Top Standings

%table{:class => 'table table-striped table-bordered'}
  %tr
    %th Title
    %th System

  - @top_standings.each do |top_standing|
    %tr
      %td= link_to top_standing.title, top_standing
      %td= top_standing.system
%br

