<% provide(:title, 'About') %>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">About Us</li>
</ul>

<div class="row-fluid">
  <div class="span12">
    <h1>About Us</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    The International eNegotiation Exhibition is now literally ongoing. Register and join in anytime. Smartsettle One is so simple that you'll be up and playing in no time. Smartsettle Infinity takes more preparation but it's well worth the effort.

    <h3>Site Purpose</h3>

    The purpose of this site is to increase awareness of emerging eNegotiation technology and provide education about effective online negotiation and dispute resolution. Participation is open to anyone, anywhere in the world. Competitors include university students, practitioners seeking continuing education, and ADR enthusiasts. A wide variety of disciplines are represented: conflict resolution, labor relations, industrial relations, law, and general business. Participants negotiate the outcomes of a number of pre-defined issues in a hypothetical negotiation case.

    <h3>Exhibition Origins</h3>

    Historically, the exhibition originated as part of an international eNegotiation research program supported in part by an INE grant from the Social Sciences and Humanities Research Council (SSHRC) of Canada. Some events have been jointly hosted with ICODR, the International Competition for Online Dispute Resolution. If you are interested in mediation or arbitration, please visit the ICODR site. The eNegotiation Exhibition is a now a non-profit event organized and managed by Smartsettle researchers.

    <h3>Further Information</h3>

    Resources are available for instructors who wish to use the exhibition as a class assignment.
  </div>

</div>
