
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "landing-image.png" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to the eNegotiation Exhibition</h1>
            <p class="lead">Join with hundreds of participants from around the world who
          have experienced the power and efficiency of online negotiation systems.</p>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">

  <div class="row">
    <div class="span4">
      <%= image_tag "icons/earth-icon-round.png", class: "img-rounded" %>
      <h2>Learn from anywhere</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= image_tag "icons/logo-ss-mini.png", class: "img-rounded" %>
      <h2>Powered by Smartsettle</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-rounded" data-src="holder.js/140x140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
    <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

</div>