<h1>Overview</h1>

<div class="row-fluid">
  <div class="span12">
    When you participate on the International eNegotiation Exhibition you will not only get hands-on
    experience with two of the world's leading online negotiation systems, but you will also join
    with other negotiators from across the globe.
  </div>
</div>

<hr>

<h2>Meet Smartsettle One</h2>

<div class="row-fluid">
  <div class="span6">
    <h4>Smartsettle One is optimized for single-issue cases.  It features the latest in eNegotiation technology in a server-based system.</h4>
    
    <p>Smartsettle One is designed for two parties with simple negotiations that can be boiled down to a single numerical issue. It features the latest in eNegotiation technology in a server-based system that is accessible using only a browser on a Mac, PC or Linux.
    </p>

    <p>Distances are bridged and travel is reduced, making the system more convenient and eco-friendly than traditional methods. The system can also be used effectively in combination with face-to-face meetings.  Smartsettle’s early-intervention process makes it possible for disputants to take control and quickly reach a fair settlement out-of-court. Your time is valuable. If your case doesn’t interrupt your life and settles much sooner via Smartsettle, how much is that worth to you?</p>

  </div>
  <div class="span6">
    <%= image_tag("smartsettle_one.jpg") %>

  </div>
</div>

<hr>

<h2>Meet Smartsettle Infinity</h2>

<div class="row-fluid">
  <div class="span6">
    <h4>The World’s Most Advanced Negotiation System</h4>

    <p>As the world’s most advanced negotiation system, Smartsettle Infinity can do what human minds alone cannot - model the problem, manage preference information, and quickly optimize solutions. Infinity supports an unlimited number of quantitative or qualitative issues between any number of parties in any combination of real-time and asynchronous negotiations, whether face-to-face or over great distances, anywhere on Earth.</p>

    <p>
    Much more than simply providing the functionality of spreadsheets and calculators, Infinity captures the complexities of real-world situations and provides a practical real-time tool that modern negotiators, mediators, arbitrators, businesses and governments alike have hitherto only dreamed of. The introduction of Smartsettle to agreement building, dealmaking and dispute resolution can be likened to the advent of CAD software (replacing pencil and paper) for engineers and architects, to model complex structures and develop better plans.
    </p>
    
  </div>
  <div class="span6">
    <%= image_tag("smartsettle_infinity.jpg") %>

  </div>
</div>