<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Overview", overview_path %> <span class="divider">/</span></li>
  <li class="active">Rules</li>
</ul>

<h1>Exhibition Rules</h1>

<div class="row-fluid">
  <div class="span12">
    <div class="mainContent">

    <h3><a name="topOfPage" id="topOfPage"></a>General Rules</h3>
    <br>
    <p>
    Following are the rules for the International eNegotiation Exhibition:
    </p>
    <ul>
    <li><a href="#participants">Eligibility</a></li>
    <li><a href="#formatAndTiming">Exhibition Format and Timing</a></li>
    <li><a href="#anonymity">Anonymity</a></li>
    <li><a href="#coachesAndMaterials">Coaches and Materials</a></li>
    <li><a href="#casesAndPrefs">Cases and Preferences</a></li>
    <li><a href="#communication">Communication between players</a></li>
    <li><a href="#questionnaires">Pre and Post Questionnaires</a></li>
    <li><a href="#scoringAndRecognition">Scoring</a></li>
    <li><a href="#recognition">Top Standings Recognition</a></li>
    </ul>

    <br>

    <h4>eNegotiation Systems</h4>
    <p>
    You will be using the latest beta releases of Smartsettle One or Smartsettle Infinity according to your choice when you registered. Note that these systems will be on a server with limitations. You may need to exercise some patience if the system reaches capacity.
    </p>

    <br>
    <h4><a name="participants" id="participants"></a>Eligibility</h4>

    <p>
    Participation is open to anyone, anywhere in the world. Individuals (or their close relatives) employed by Smartsettle or directly associated with Smartsettle or anyone else having intimate knowledge of the cases will not be allowed to compete for standings or prizes. Many of the participants are university students (e.g., Conflict Management, Industrial/Labour Relations, Business, Law, etc.) whose training is supervised by their instructors. Qualified evaluators will be chosen by the organizers. Each participant is encouraged to negotiate individually in their own case.
    </p>

    <br>
    <h4><a name="formatAndTiming" id="formatAndTiming"></a>Exhibition Format and Timing</h4>

    <p>
    Your objective is come to a good agreement specified in terms of predefined possible outcomes. 
    In the case of quantitative issues, players may agree to any outcome within the specified bargaining ranges. In the case of qualitative issues (only in Infinity), players must agree to one of the pre-defined options.
    </p>

    <p>
    Smartsettle Infinity participants may start at the time of their choosing (subject to availability of a suitable opponent). Smartsettle One competitions are held continually throughout the year. 
    </p>

    <p>
    If you are not satisfied with your performance, you may attempt to improve it in a subsequent competition.
    </p>

    <br>	
    <h4><a name="anonymity" id="anonymity"></a>Anonymity </h4>

    <p>
    You may not reveal your true identity (or affiliation) to your opponent. To facilitate this, each individual (or group of individuals playing together) must choose a pseudonym and use only that name when communicating with their opponent. Anyone revealing his or her true identity may be disqualified from the competition. Anyone that feels that their identity has been compromised through no fault of their own may request that their negotiation be restarted with a new opponent. Identities of the top performers may be revealed in the Top Standings.
    </p>

    <br>	
    <h4><a name="coachesAndMaterials" id="coachesAndMaterials"></a>Coaches &amp; Materials</h4>

    <p>
    Coaches are encouraged to provide assistance to their students so that they perform as well as possible. Online training materials are available to use as course material. These materials will give students an orientation to the theory of eNegotiation systems and teach them strategies of negotiating that emphasize the objectives of fairness and efficiency. Coaches should communicate with the exhibition organizers to make sure that 
    their students have adequate training materials on time. It is desirable that coaches 
    observe their students during the negotiation, either in the physical room or by observing 
    the competition online. Coaches may be consulted if there are questions during the evaluation.	
    </p>

    <br>
    <h4><a name="casesAndPrefs" id="casesAndPrefs"></a>Cases and Preferences</h4>

    <p>
    A number of cases are available to choose from. In each case, you must negotiate according to pre-defined preferences.
    </p>

    <br>
    <h4><a name="communication" id="communication"></a>Communication between Players</h4>

    <p>
    Communication with your opponent is restricted to online exchanges within the application. 
    This is not meant to give the impression that eNegotiation systems replace face-to-face meetings. It is only a matter of practicality in the exhibition. In real-world negotiations, face-to-face meetings that emphasize relationship building and collaborative discussions are strongly encouraged. If these are held in conjunction with online sessions using Smartsettle, then adversarial exchanges and the tedious negotiation dance become obsolete.
    </p>

    <br>
    <h4><a name="questionnaires" id="communication2"></a>Pre and Post Questionnaires</h4>

    <p>
    We appreciate your cooperation in completing questionnaires. This information helps us improve the exhibition for future players. Links to the questionnaires will be available upon login.	
    </p>

    <br>
    <h4><a name="scoringAndRecognition" id="scoringAndRecognition"></a>Scoring</h4>

    <p>
    We use a sophisticated formula to score performance. In general, the highest achievers will be those who model their behavior after a professional in a real-world negotiation with the same preferences. If a player participates in a subsequent competition, then their new score will be based on both competitions.	
    </p>

    <br>
    <h4><a name="recognition" id="scoringAndRecognition2"></a>Recognition</h4>

    <p>
    Those that perform well and have given us permission will be recognized in the 
    Top Standings.
    </p>

    <p>
    iCan and Smartsettle staff members, sub-contractors, and their families are not eligible for recognition in this contest. Offer of any prizes are void where prohibited by law. iCan reserves the right to make final decisions about prizes or any other aspect of the competition.
    </p>
    
  </div>
</div>


