<% provide(:title, 'Meet the Team') %>
<h1>Meet the Team</h1>

<div class="row-fluid">
  <div class="span3">
    <%= image_tag("team/ernest_thiessen.jpg") %>
  </div>
  <div class="span8">
    <h3>Dr. Ernest Thiessen - Director</h3>
    
    <p>Dr. Ernest Thiessen has led iCan since 1993 to implement the ICANS patent, creating the world’s first secure multiparty negotiation support system. Dr. Thiessen also directs the International eNegotiation Exhibition and was a lecturer in 2010 for UNESCO. Dr. Thiessen has been a guest speaker at most of the Annual International Forums on Online Dispute Resolution since they began in 2002. Prior to founding iCan, Thiessen worked for 17 years as a consulting engineer and researcher in Canada and in Nepal. During the eighties, this work related to water resource systems, planning and development on a project that received the UNESCO Blue Planet in 2005. Thiessen received his PhD from Cornell University in 1993, majoring in Water Resource Systems Planning and Analysis in the School of Civil and Environmental Engineering. Dr. Ernest Thiessen will oversee the entire project to insure that everyone works together in an efficient manner.
    </p>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span3">
    <%= image_tag("team/derek_barber.jpg") %>
  </div>
  <div class="span8">
    <h3>Derek Barber - Registrar</h3>
    <p>
      Derek Barber (Bachelor of Technology) has fifteen years of experience as a software engineer including four years as iCan’s Senior Software Engineer. Derek as principal developer of Smartsettle One has managed its evolution from prototype to commercial ready. Prior to his position at Smartsettle, Derek spent several years as the Director of Technology for Lusora, Inc. where he oversaw the development of a web-based system for monitoring life-critical medical devices for elder home patient care. As an expert in web-based application development, he is ideally suited to ensure that Smartsettle One can be deployed commercially and be efficiently scaled to meet all future growth. Derek will be responsible in the current project for implementing the design in order to deliver a working ODR Service.
    </p>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span3">
    <%= image_tag("team/james_loewen.jpg") %>
  </div>
  <div class="span8">
      <h3>James Loewen - Trainer</h3>
      <p>
        James Loewen BA. MA. CSF, is a Certified Smartsettle Facilitator and Lead Project Developer for Smartsettle. James has worked as a facilitator, project developer, problem solver and trainer in educational institutions, local and national non-profit agencies during the past 12 years. His primary area of focus has been in restorative justice – supporting healing experiences in relationships where harm has occurred. His enduring interest is to support productive, respectful, and meaningful relationships. In addition to his hands-on work resolving conflicts and supporting organizations, James has facilitated numerous workshops on conflict management, communication skills, anger management, and restorative justice. James holds a BA from Trinity Western University, an MA from the University of Calgary, and a Certificate in Conflict Resolution from the Justice Institute of BC.
      </p>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span3">
    <%= image_tag("team/paul_miniato.jpg") %>
  </div>
  <div class="span8">
      <h3>Paul Miniato - Architect</h3>
      
      <p>
        Paul Miniato has over 35 years of experience in mission critical systems including online banking & other high-performance database applications, in roles such as Chief Software Architect & Manager of R&D. Paul was co-Founder of In-Touch Software Corporation, where he was Vice-President Software Design. Mr. Miniato’s exposure to the application of mathematics to dispute resolution began in 1995 when he used a simulated-annealing program to help resolve the equitable allocation of 20 waterfront properties in a 740-acre recreational land development project. He is also a Certified Smartsettle Facilitator and Infinity Expert User. Paul has been involved in design of Smartsettle One since its inception in 2007 and will oversee the design of new functionality needed for the Board.
      </p>
  </div>
</div>