- provide(:title, 'Watch Videos')
%ul{class: 'breadcrumb'}
  %li
    = link_to "Home", root_path
    <span class="divider">/</span>
  %li{class: 'active'}
    Videos

%h1 Watch Videos

%div{class:"row-fluid"}
  %div{class:"span12"}
    %h3 Leveling the Playing Field

    %p Leveling the Playing Field demonstrates how eNegotiation technology is shaping the future of dispute resolution. 
    %p The show premiered at the International Forum on Online Dispute Resolution (ODR) in Haifa, Israel. Smartsettle has presented at the International Forum on ODR in Geneva, Liverpool, Cairo, Victoria, Edinburgh and Melbourne where a community of dispute resolution professionals, enthusiasts and diplomats from around the world meet to discuss the future of dispute resolution.

%div{class:"row-fluid"}
  %div{class:"span11 offset1"}
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/v4WoXr-h18I", :title => "Leveling the Playing Field", :width => "853"}

%hr

%div{class:"row-fluid"}
  %div{class:"span12"}
    %h3 Introduction to Smartsettle One

    %p Smartsettle One is an online negotiation system for simple cases. It can be a convenient alternative to the Small Claims Court or virtually any situation where two parties need to negotiate a single numerical issue. A computer assisted process using Visual Blind Bidding allows two parties to quickly and easily negotiate their case at a time and place of their own choosing.

%div{class:"row-fluid"}
  %div{class:"span11 offset1"}
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/x_vRqCpiWms-h18I", :title => "Introduction to Smartsettle One", :width => "853"}


