<!-- FOOTER -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; iCan Systems, Inc. &middot; 
    <%= link_to "Privacy", privacy_path %>
    &middot; 
    <%= link_to "Terms of Use", terms_path %>
  </p>
</footer>